/* importo bootstrap dalla cartella node_modules usando l'alias settato in vite.config.js */
@import "~bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.customBox {
    width: 1250px;
    margin: 0 auto;
}

header {
    height: 120px;
    
    img {
        height: 80px;
    }
    
    li {
        &:hover {
            color: blue;
            cursor: pointer;
        }
    }

    input{
        border: none;
        border-bottom: 2px solid blue;

        &:focus-visible{
            outline: none;
        }
    }
}